body {
    font-family: "Open Sans", sans-serif;
    color: #444;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    height: 80px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    padding: 20px 0;
    background:#f86011;
  }

  #header.header-transparent {
    background: none;
  }

  #header.header-scrolled {
    background: #fff;
    height: 60px;
    padding: 10px 0;
  }

  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 45px;
  }

  #header .logo h1 {
    font-size: 28px;
    margin: 0;
    padding: 4px 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    color:#fff;
}

  /*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
  }
  
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    float: left;
  }
  
  .header-scrolled .nav-menu a {
    display: block;
    position: relative;
    color: #333;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
  }

  .header-scrolled .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #34434a;
    text-decoration: none;
  }

  .header-scrolled h1 a{
    color: #34434a;
  }

  .header-scrolled{
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
  }

  .nav-menu a {
    display: block;
    position: relative;
    color: #fff;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
  }
  
  .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #607d8b;
    text-decoration: none;
  }
  
  .nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% - 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: ease all 0.3s;
  }
  
  .nav-menu .drop-down:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
  }
  
  .nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #1c3745;
  }
  
  .nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
    color: #68A4C4;
  }
  
  .nav-menu .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px;
  }
  
  .nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
  }
  
  .nav-menu .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
  }
  
  .nav-menu .drop-down .drop-down > a {
    padding-right: 35px;
  }
  
  .nav-menu .drop-down .drop-down > a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
  }
  
  @media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
      left: -90%;
    }
    .nav-menu .drop-down .drop-down:hover > ul {
      left: -100%;
    }
    .nav-menu .drop-down .drop-down > a:after {
      content: "\ea9d";
    }
  }

  /* Mobile Navigation */
.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: #1e4356;
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #ddecf5;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #a2cce3;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa0";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(30, 67, 86, 0.9);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}
  
  
  /*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  overflow: hidden;
  position: relative;
}

#hero::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  width: 130%;
  height: 45%;
  background: linear-gradient(to right,#f86011, #FF9800);
  z-index: 0;
  border-radius: 0 0 50% 50%;
  transform: translateX(-50%) rotate(0deg);
}

#hero::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  width: 130%;
  height: 47%;
  background: #f86011;
  opacity: 0.3;
  z-index: 0;
  border-radius: 0 0 50% 50%;
  transform: translateX(-50%) translateY(15px) rotate(3deg);
}

#hero .container {
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index:1;
  margin-top:8%;
}

#hero h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 300;
  text-align: center;
}

#hero p {
  color: #fff;
  text-align: center;
}

@media (max-width: 768px) {
  #hero .container {
    margin-top:15%;
  }
  #hero h2 {
    font-size: 28px;
  }
  #hero::after {
    width: 180%;
    height: 35%;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%) rotate(0deg);
  }
  
  #hero::before {
    top: 0;
    width: 180%;
    height: 36%;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%) translateY(20px) rotate(4deg);
  }
}

@media (max-width: 575px) {
  #hero h2 {
    font-size: 25px;
  }
  #hero::after {
    left: 40%;
    top: 0;
    width: 200%;
    height: 35%;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%) rotate(0deg);
  }
  #hero::before {
    left: 50%;
    top: 0;
    width: 200%;
    height: 34%;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%) translateY(20px) rotate(4deg);
  }
}

.complaint-form {
  padding: 30px;
  background: #fff;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #FF9800;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #ff980026;
}

.btn-complaint-type {
  width: 100%;
  margin-bottom: 20px;
}
.btn-complaint-type .btn {
  width: 33.33%;
}
.complaint-form-box {
  padding-bottom: 0px;
}
.btn-complaint-type .btn-default {
  color: #FF5722;
  background-color: transparent;
  border-color: #FF5722;
  padding-left: 15px;
  padding-right: 15px;
}
.btn-complaint-type .btn-default span {
  position: relative;
  margin-left: 22px;
  display: inline-block;
}
.btn-complaint-type .btn-default span:before {
  display: inline-block;
  height: 17px;
  width: 17px;
  background: #fff;
  border: 2px solid #FF5722;
  border-radius: 17px;
  content: "";
  position: absolute;
  right: 100%;
  margin-right: 5px;
  margin-top: 3px;
}
.btn-complaint-type .btn-default.active span:before {
  border-color: transparent;
  background: transparent;
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  font-size: inherit;
  color:#fff;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f00c";
  margin:0 5px 0 0;
  top:-3px;
}
.btn-complaint-type .btn-default.active {
  background: #FF5722;
  color: #fff;
  border-color: #FF5722;
  -webkit-box-shadow: 0 5px 10px rgba(208, 2, 27, 0.15);
  box-shadow: 0 5px 10px rgba(208, 2, 27, 0.15);
}

[data-toggle="buttons"] > .btn input[type="radio"], [data-toggle="buttons"] > .btn-group > .btn input[type="radio"], [data-toggle="buttons"] > .btn input[type="checkbox"], [data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.btn:hover, .btn:focus {
  transform: translateY(-1px);
}

.btn-primary {
  color: #fff;
  background-color: #FF5722;
  border-color: #e74714;
}

.btn-primary:hover {
  color: #fff;
  background-color: #d33b0b;
  border-color: #c93b0e;
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: #bf350a;
  border-color: #d33909;
  box-shadow: 0 0 0 0.25rem rgb(249 213 202);
}

.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgb(247 156 127);
}


.complaint-form-footer{
  padding-top: 15px;
}
.complaint-form-footer:before,
.complaint-form-footer:after {
  content: " ";
  display: table;
}
.complaint-form-footer:after {
  clear: both;
}
.complaint-form-footer:before,
.complaint-form-footer:after {
  content: " ";
  display: table;
}
.complaint-form-footer:after {
  clear: both;
}
.complaint-form-footer .flex-align-between {
  justify-content: space-between;
  -moz-justify-content: space-between;
  -o-justify-content: space-between;
  -webkit-justify-content: space-between;
}


.complaint-form-attachments {
  display: none;
  background: #F7F8F9;
  padding: 15px 30px;
  margin: 0 -30px;
}

.responsiv-uploader-fileupload.style-file-multi.is-multi .dz-clickable {
  width: 100%;
  border: 2px dashed rgba(0, 0, 0, 0.3);
  background: none;
  border-radius: 4px;
  height: 60px;
}
.responsiv-uploader-fileupload.style-file-multi.is-multi .dz-clickable:hover {
  transform: none;
  border-color: #165eb3;
}
.responsiv-uploader-fileupload.style-file-multi.is-multi .dz-clickable:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: rgba(22, 94, 179, 0.25);
}
.responsiv-uploader-fileupload.style-file-multi.is-multi.dz-drag-hover .dz-clickable {
  background: rgba(22, 94, 179, 0.25);
}
.responsiv-uploader-fileupload.style-file-multi.is-multi .responsiv-uploader-fileupload .upload-files-container {
  background: #fff;
}
.responsiv-uploader-fileupload.style-file-multi.is-multi .responsiv-uploader-fileupload .upload-files-container .upload-object:nth-child(even) {
  background: #fff;
}


.block-counter {
  background: #fafafa;
  background-size: cover !important;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #FF9800;
  color:#fff;
}

.post-counter .counter-count {
  font-weight: bold;
  font-size: 72px;
  line-height: 92px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}





/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #0b212d;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .footer-newsletter {
  padding: 50px 0;
  background: #0d2735;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: #a2cce3;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  margin: 3px;
  background: #68A4C4;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #468db3;
}

#footer .footer-top {
  background: #0d2735;
  border-top: 1px solid #17455e;
  border-bottom: 1px solid #123649;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 18px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  color: #a2cce3;
  font-weight: 600;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #1e4356;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #68A4C4;
  color: #fff;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 18px;
  font-weight: 600;
  color: #a2cce3;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #a2cce3;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #a2cce3;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

#footer .credits a {
  color: #a2cce3;
}


/* MODAL STYLE */

.modal .btn-close {
  position: absolute;
  right: 14px
}

.modal.fade .modal-dialog { 
  transition: transform 0.3s ease-out; 
  transform: scale(1); 
}

h5, .h5 {
  font-size: 16px;
}

h5.separator{
  text-align: center;
    position: relative;
}

h5.separator:before {
  content: "";
  border-bottom: 1px solid #333;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}

h5.separator span {
  position: relative;
  background: #fff;
  font-weight: 400;
  padding: 5px 10px;
}

/* BUTTON */
.btn-facebook {
  color: #ffffff;
  background-color: #3b5998;
  border-color: #3b5998;
  -webkit-box-shadow: 0 5px 10px  rgba(59, 89, 152, 0.15);
  box-shadow: 0 5px 10px  rgba(59, 89, 152, 0.15);
  padding-left: 10px;
  padding-right: 10px;
}
.btn-facebook:focus,
.btn-facebook.focus {
  color: #ffffff;
  background-color: #2d4373;
  border-color: #17233c;
}
.btn-facebook:hover {
  color: #ffffff;
  background-color: #2d4373;
  border-color: #2a3f6c;
}

.btn-twitter {
  color: #ffffff;
  background-color: #55acee;
  border-color: #55acee;
  -webkit-box-shadow: 0 5px 10px  rgba(85, 172, 238, 0.15);
  box-shadow: 0 5px 10px  rgba(85, 172, 238, 0.15);
  padding-left: 10px;
  padding-right: 10px;
}
.btn-twitter:focus,
.btn-twitter.focus {
  color: #ffffff;
  background-color: #2795e9;
  border-color: #126db2;
}
.btn-twitter:hover {
  color: #ffffff;
  background-color: #2795e9;
  border-color: #1d91e8;
}

.btn-google {
  color: #ffffff;
  background-color: #DB4437;
  border-color: #DB4437;
  padding-left: 10px;
  padding-right: 10px;
}
.btn-google:hover {
  color: #ffffff;
}

::-ms-input-placeholder { /* Edge 12-18 */
  color: #ced4da!important;
}

::placeholder {
  color: #ced4da!important;
}


/*Form Wizard*/
.bs-wizard {
  margin-top: 40px;
  padding-bottom: 40px;
}
.bs-wizard .bs-wizard-dot {
  z-index: 2;
  border: 2px solid #fafbfc;
}
.bs-wizard .bs-wizard-step .progress .progress-bar {
  width: 100% !important;
  z-index: 1;
  background: #ddd !important;
}
.bs-wizard .bs-wizard-step.active .progress-bar {
  background: #ddd;
}
.bs-wizard .bs-wizard-step.complete .progress-bar {
  background: #FF5722 !important;
}
.bs-wizard .bs-wizard-step.complete:last-child .progress {
  width: 0px !important;
}
.bs-wizard .bs-wizard-step.active .progress,
.bs-wizard .bs-wizard-step.complete .progress {
  width: 100% !important;
  z-index: 2;
  left: 50%;
}
.bs-wizard .bs-wizard-step.active .bs-wizard-dot,
.bs-wizard .bs-wizard-step.complete .bs-wizard-dot {
  background: #FF5722;
  color: white;
}
.bs-wizard .bs-wizard-step.active .bs-wizard-dot:after,
.bs-wizard .bs-wizard-step.complete .bs-wizard-dot:after {
  background: #9d0214;
}
.bs-wizard-info {
  display: none !important;
}
@media (min-width: 480px) {
  .bs-wizard-info {
    display: block !important;
  }
}
.bs-wizard > .bs-wizard-step {
  padding: 0;
  position: relative;
}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
  font-size: 10px;
  padding: 0 5px 0;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}
@media (min-width: 480px) {
  .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
    font-size: 16px;
    padding: 20px 5px 0;
  }
}
.bs-wizard > .bs-wizard-step .bs-wizard-info {
  color: #666;
  font-size: 14px;
  padding: 0 5px;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
  position: absolute;
  width: 50px;
  height: 50px;
  display: block;
  padding: 13px;
  color: #333;
  text-align: center;
  background: #fff;
  top: 0;
  left: 50%;
  margin-top: -7px;
  margin-left: -25px;
  border-radius: 50%;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}
@media (min-width: 480px) {
  .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
    width: 60px;
    height: 60px;
    padding: 15px;
    margin-top: -10px;
    margin-left: -30px;
  }
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot > .fa {
  font-size: 18px;
}
@media (min-width: 480px) {
  .bs-wizard > .bs-wizard-step > .bs-wizard-dot > .fa {
    font-size: 24px;
  }
}
.bs-wizard > .bs-wizard-step > .progress {
  position: relative;
  border-radius: 0px;
  height: 1px;
  box-shadow: none;
  margin: 20px 0;
}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
  width: 0px;
  box-shadow: none;
  background: #fbe8aa;
}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
  width: 100%;
}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
  width: 50%;
}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
  width: 0%;
}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
  width: 100%;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
  background-color: #f5f5f5;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
  opacity: 0;
}
.bs-wizard > .bs-wizard-step:first-child > .progress {
  left: 50%;
  width: 50%;
}
.bs-wizard > .bs-wizard-step:last-child > .progress {
  width: 50%;
}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
  pointer-events: none;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-2 {
  width: 16.66666667%;
}